doctype html
html(ng-app='angular-component-tabletop')
	head
		title Component Tabletop
	body
		main(ng-controller='mainCtrl as main')
			h1 Components
		script(src='bower_components/angular/angular.min.js')
		script(src='js/app.js')