doctype html
html(ng-app='angular-component-tabletop')
	head
		meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="/bower_components/angular-material/angular-material.css")
		link(rel="stylesheet" href="/bower_components/angular-material-data-table/dist/md-data-table.min.css")
		link(rel="stylesheet" href='css/app.css')
		title Component Tabletop
	body
		main(ng-controller='mainCtrl as main')
			md-toolbar.md-table-toolbar.md-primary(layout)
				h1.md-toolbar-tools Components
				md-button.md-accent.md-flat(ng-click="main.getChecked()") get list
				md-button.md-accent.md-flat(ng-click="main.showPublishPopup($event)") Publish
			include table
		script(src='bower_components/angular/angular.min.js')
		script(src='bower_components/angular-aria/angular-aria.js')
		script(src='bower_components/angular-animate/angular-animate.js')
		script(src='bower_components/angular-material/angular-material.js')
		script(src='bower_components/angular-material-data-table/dist/md-data-table.min.js')

		script(src='js/app.js')

		//factories
		script(src='js/factories/gallery.factory.js')
		script(src='js/factories/table.factory.js')

		//controllers
		script(src='js/controllers/main.ctrl.js')
		script(src='js/controllers/table.ctrl.js')