md-content.md-padding(ng-if='table.active')
	ul#customTabs
		li(ng-repeat='(tab_index, tab) in table.data.companies', ng-bind='tab.company_name', ng-click='table.setActive(tab.company_name)', ng-class='{active: tab.company_name === table.active}')
	md-table-container
		table.md-table.md-padding
			thead.md-head
				tr.md-row
					th.md-title
						sub Component
						| \
						sup Version
					th.centred.md-title(ng-repeat='version in table.data.versions')
						p(ng-bind='version')
			tbody.md-body
				tr.md-row(ng-repeat='component in table.data.companies[table.getIndex(table.active)].components')
					td.md-cell.separate.md-title(ng-bind='component.name')
					td.centred.separate(ng-repeat='version in component.versions')
						md-checkbox.md-primary(ng-show='version.data.version', aria-label='version.data.version', ng-click='table.toggle(version, tab.company_name)') {{version.data.version}}
						span(ng-hide='version.data.version') -