table.md-table .centred{
	text-align: center!important;
}
table.md-table .separate{
	border-left: 1px rgba(0,0,0,.12) solid;
	border-top: 1px rgba(0,0,0,.12) solid;
}
[role="tabpanel"] {
	transition: none;
}
table.md-table tr td:first-child{
	max-width: 200px;
}
table.md-table md-checkbox{
	margin-bottom: 0;
}
table.md-table,
table.md-table td.md-cell{
	font-size: 15px;
}
table.md-table .md-title{
	font-size: 18px;
}

#customTabs{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: 0 solid rgba(0, 0, 0, 0.12);
	border-bottom-width: 1px;
}
#customTabs li{
	text-transform: uppercase;
	color: rgba(0,0,0,0.54);
	font-size: 14px;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
	white-space: nowrap;
	font-weight: 500;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 12px 24px;
	position: relative;
	outline: none;
}
#customTabs li.active:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgb(238,238,238);
	height: 2px;
}
#customTabs li.active{
	color: rgb(63,81,181);
}